<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdvancedPlaybackSampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AdvancedPlaybackSampleAppSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B140F521A2E4709001324EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B140F6E1A2E4709001324EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B19FEFD1A3B7532003E57DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B19FF071A3B7533003E57DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
