<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>AssetNameKey</key>
		<string>Fairplay Main Parent</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://10.11.66.52:7074/hls/proxy/cycDhnMzE66D5DPpy3oIOzli1HVMoYnJ/_.m3u8?source=http%3A%2F%2Fsecure-cf-c.ooyala.com%2FcycDhnMzE66D5DPpy3oIOzli1HVMoYnJ%2F1%2Ffp_ts%2Fmaster.m3u8&amp;download=true</string>
	</dict>
	<dict>
		<key>AssetNameKey</key>
		<string>Fairplay Main Child</string>
		<key>AAPLStreamPlaylistURL</key>
		<string>http://10.11.66.52:7074/hls/proxy/cycDhnMzE66D5DPpy3oIOzli1HVMoYnJ/media/-3516248799870336591_manifest.m3u8?source=http%3A%2F%2Fsecure-cf-c.ooyala.com%2FcycDhnMzE66D5DPpy3oIOzli1HVMoYnJ%2F1%2Ffp_ts%2F-3516248799870336591_manifest.m3u8&amp;download=true</string>
	</dict>
</array>
</plist>
